<br />
<h1>{{spaceships.name}}</h1>
<br />
<hr />
<br />
<div class="row">
  <div class="column left">
    <img src="../../../assets/images/X-Wing-Fighter.jpeg" height="300" width="380"/>
  </div>
  <div class="column right">
    <p>Model: {{spaceships.model}}</p>
    <p>Manufacturer: {{spaceships.manufacturer}}</p>
    <p>Cost (in credits): {{spaceships.cost_in_credits}}</p>
    <p>Length: {{spaceships.length}}</p>
    <p>Maximum Speed: {{spaceships.max_atmosphering_speed}}</p>
    <p>Maximum Crew: {{spaceships.crew}}</p>
    <p>Maximum Passengers: {{spaceships.passengers}}</p>
    <p>Cargo Capacity: {{spaceships.cargo_capacity}}</p>
    <p>Consumables: {{spaceships.consumables}}</p>
    <p>Hyperdrive Rating: {{spaceships.hyperdrive_rating}}</p>
    <p>MGLT: {{spaceships.MGLT}}</p>
    <p>Starship Class: {{spaceships.starship_class}}</p>
  </div>
</div>