<br />
<h1>{{vehicle.name}}</h1>
<br />
<hr />
<br />
<div class="row">
  <div class="column left">
    <img src="../../../assets/images/snowspeeder.jpeg" height="300" width="380"/>
  </div>
  <div class="column right">
    <p>Model: {{vehicle.model}}</p>
    <p>Manufacturer: {{vehicle.manufacturer}}</p>
    <p>Cost (in credits): {{vehicle.cost_in_credits}}</p>
    <p>Length: {{vehicle.length}}</p>
    <p>Maximum Speed: {{vehicle.max_atmosphering_speed}}</p>
    <p>Maximum Crew: {{vehicle.crew}}</p>
    <p>Maximum Passengers: {{vehicle.passengers}}</p>
    <p>Cargo Capacity: {{vehicle.cargo_capacity}}</p>
    <p>Consumables: {{vehicle.consumables}}</p>
    <p>Vehicle Class: {{vehicle.vehicle_class}}</p>
  </div>
</div>