<br />
<h1>{{planets.name}}</h1>
<br />
<hr />
<br />
<div class="row">
  <div class="column left">
    <img src="../../../assets/images/Tatooine.jpg" height="400" width="380"/>
  </div>
  <div class="column right">
    <p>Rotation Period: {{planets.rotation_period}}</p>
    <p>Orbital Period: {{planets.orbital_period}}</p>
    <p>Diameter: {{planets.diameter}}</p>
    <p>Climate: {{planets.climate}}</p>
    <p>Gravity: {{planets.gravity}}</p>
    <p>Terrain: {{planets.terrain}}</p>
    <p>Surface Water: {{planets.surface_water}}</p>
    <p>Population: {{planets.population}}</p>
  </div>
</div>