<div class="background-main">
<mat-toolbar class="mat-elevation-z8">
	<button
	  mat-icon-button
	  *ngIf="sidenav.mode === 'over'"
	  (click)="sidenav.toggle()">
	  <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
	  <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
	</button>
	<img src="../assets/images/Star_Wars_Logo.png" height="120" width="180"/>
	API
  </mat-toolbar>
  
  <mat-sidenav-container>
	<mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
	  <button mat-button class="menu-button" routerLink="/home">
		<mat-icon>home</mat-icon>
		<span>Home</span>
	  </button>
	  <button mat-button class="menu-button" routerLink="/movies">
		<mat-icon>camera</mat-icon>  
		<span>Movies</span>
	  </button>
	  <button mat-button class="menu-button" routerLink="/charcaters">
		<mat-icon>person</mat-icon>
		<span>Characters</span>
	  </button>
	<button mat-button class="menu-button" routerLink="/spaceships">
		<mat-icon>camera</mat-icon>  
		<span>Spaceships</span>
	</button>
	<button mat-button class="menu-button" routerLink="/planets">
		<mat-icon>camera</mat-icon>  
		<span>Planets</span>
	</button>
	<button mat-button class="menu-button" routerLink="/vehicles">
		<mat-icon>person</mat-icon>
		<span>Vehicles</span>
	  </button>
	  <button mat-button class="menu-button" routerLink="/species">
		<mat-icon>person</mat-icon>
		<span>Species</span>
	  </button>
	  <mat-divider></mat-divider>
  
	  <button mat-button class="menu-button" routerLink="/help">
		<mat-icon>info</mat-icon>
		<span>About</span>
	  </button>
	</mat-sidenav>
	<mat-sidenav-content>
	  <div class="content mat-elevation-z8">
		<router-outlet></router-outlet>
	  </div>
	</mat-sidenav-content>
  </mat-sidenav-container>
</div>
