<br />
<h1>{{species.name}}</h1>
<br />
<hr />
<br />
<div class="row">
  <div class="column left">
    <img src="../../../assets/images/Luke_Skywalker.png" height="500" width="380"/>
  </div>
  <div class="column right">
    <p>Classification: {{species.classification}}</p>
    <p>Designation: {{species.designation}}</p>
    <p>Average Height: {{species.average_height}}</p>
    <p>Average Lifespan: {{species.average_lifespan}}</p>
    <p>Skin Colors: {{species.skin_colors}}</p>
    <p>Eye Colors: {{species.eye_colors}}</p>
    <p>Languages: {{species.average_lifespan}}</p>
    <p>Homeworld: <a href="{{species.homeworld}}">Coruscant</a></p>
  </div>
</div>