<br />
<h1>{{character.name}}</h1>
<br />
<hr />
<br />
<div class="row">
  <div class="column left">
    <img src="../../../assets/images/Luke_Skywalker.png" height="500" width="380"/>
  </div>
  <div class="column right">
    <p>Gender: {{character.gender}}</p>
    <p>Height: {{character.height}}</p>
    <p>Weight: {{character.mass}}</p>
    <p>Hair Color: {{character.hair_color}}</p>
    <p>Eye Color: {{character.eye_color}}</p>
    <p>Birth Year: {{character.birth_year}}</p>
    <p>Homeworld: <a href="http://localhost:4200/planets"></a>Tatooine</p>
  </div>
</div>
